body {
  color: #272341;
}

#todolist {
  text-align: left;
  max-width: 550px;
  margin: auto;
}

.title {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 0px;
  text-align: center;
}

.title h1 {
  margin-bottom: 5px;
}

.inputSection {
  margin: auto;
}

.inputSection form {
  margin: 0 0 5px 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.item {
  width: 440px;
  height: 30px;
  padding: 0px 20px;
}

*:focus {
  outline: none;
}

.inputBtn {
  background-color: blue;
  font-size: 30px;
  margin-left: 5px;
  color: white;
  border: 0;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 10px;
  list-style: none;
  border: 1px solid;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 10px 12px 10px;
  font-size: 18px;
}

li {
  border-bottom: 1px solid;
}

ul li:hover {
  background: #ddd;
}

.delete {
  position: absolute;
  right: 10px;
  top: 0;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 4px 8px;
  border: none;
  background: rgba(255, 255, 255, 0);
  font-size: 30px;
  color: gray;
}

.checkBtn {
  position: absolute;
  right: 50px;
  top: 0;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 4px 8px;
  border: none;
  background: rgba(255, 255, 255, 0);
  font-size: 30px;
}

.delete:hover,
.checkBtn:hover {
  color: blue;
}

ul li.checked {
  /* background: #ddd; */
  text-decoration: line-through;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0;
  }
  #todolist {
    max-width: 100%;
  }

  .inputSection form {
    margin: 0px 30px 5px 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .item {
    width: 200px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #fbe7c6;
    padding: 0px 30px;
  }

  .delete {
    position: absolute;
    align-items: center;
    text-align: center;
    margin: 8px 15px;
    padding: 4px 8px;
    border: none;
    background: rgba(255, 255, 255, 0);
  }
}
